.table-nav-pages{
	display:flex;
	grid-gap:10px;
	align-items:center;
}

.pagination-links{
	display:flex;
	grid-gap:10px;
}

.list-group-item:first-child{
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}

.list-group-item:last-child{
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
	z-index:2;
	color:#fff;
	background-color:#334580;
	border-color:#334580;
}

.list-group-item{
	position:relative;
	display:inline;
	padding:10px 15px;
	margin-bottom:-1px;
	background-color:#FFF;
	border:1px solid #DDD;
	margin-right:-1px;
}

.list-group{
	display:flex;
	flex-direction:row;
	padding-left:0;
	border-radius:.25rem;
}

.list-group-horizontal > .list-group-item + .list-group-item{
	border-top-width:1px;
}

a.list-group-item{
	color:#555;
	text-decoration:none;
}

/*
@media (min-width:768px){
	.list-group-horizontal{
		flex-direction:row;
	}
}
*/

.spoiler-wrap{
	border:1px solid #c3c4c7;
	margin:.5em 0;
}

.spoiler-head{
	padding:3px;
	cursor:pointer;
}

.folded:before{
	content:"+";
	margin-right:5px;
}

.unfolded:before{
	content:"–";
	margin-right:5px;
}

.spoiler-body{
	display:none;
	padding:3px;
	border-top:1px solid #c3c4c7;
}

.rating__table{
	padding:0 40px;
}

@media (max-width:576px){
	.rating__table{
		padding:0 20px;
	}
}

@media (max-width:323px){
	.rating__table{
		padding:0 5px;
	}

	.list-group-item{
		padding:2px 3px;
		font-size:12px;
	}
}

.rating__table .form-search input:hover{
	background:#dbdde8;
}

.rating__table .pagination-links > a{
	font-size:24px;
	font-weight:500;
}

.rating__table .table-nav{
	display:flex;
	justify-content:flex-end;
}

.table-box code{
	white-space:nowrap;
	font-family:"consolas", monospace;
}


.td-text > p{
	margin:0 4px;
}

.td-text p{
	margin-top:0;
	margin-bottom:0;
}

.td-type-1, .td-type-2, .td-type-3, .td-type-4, .td-type-5, .td-type-6{
	font-weight:500;
	vertical-align:top;
}

.table-box{
	overflow-x:auto;
	width:100%;
}

.table-header-options{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:20px;
	flex-wrap:wrap;
	grid-gap:20px;
}

.players-table-form-search{
	display:flex;
	flex-wrap:nowrap;
}

.players-table-form-search .query-input{
	width:calc(100% - 35px);
	height:35px;
	padding-left:10px;
	border:none;
	outline:0;
	background:#dbdde8;
}

.players-table-form-search .query-input.with-delete-button{
	width:calc(100% - 70px);
}

.players-table-button-search{
	cursor: pointer;
	width: 35px;
	height: 35px;
	border: none;
	background: #dbdde8;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	padding-bottom: 7px;
	line-height: 29px;
	color: #19223f
}

.players-table-button-search img{
	height:20px;
}

/*-----------------------------------------------------------------------------*/

.table-box table{
	border-collapse:collapse;
	margin-bottom:30px;
}

.table-box a{
	color:#242429
}

.table-box thead a{
	color:#c7c8cc;
	text-decoration:underline;
}

.table-box thead a:hover{
	color:#fff;
}

.table-box th{
	text-align:center;
	line-height:1.1;
	background-color:#334580;
	color:#c7c8cc;
	padding:10px 5px;
	font-weight:500;
	font-size:16px;
	border:1px solid #c7c8cc;
}

.table-box td{
	border:1px solid #c7c8cc;
}

@media (max-width:767px){
	.table-box th{
		font-size:14px;
	}
}

@media (max-width:575px){
	.table-box th{
		font-size:10px;
	}
}

.table-box tr{
	font-size:14px;
	margin:10px 0;
	color:#242429;
}

.table-box tr:nth-child(odd){
	background-color:#dbdde8;
}

/*
.table-box tr:hover{
	background-color:#868cad;
	color:#fefefe;
}
*/

.table-box tr:hover td a{
	text-decoration:underline;
}

@media (max-width:767px){
	.table-box tr{
		font-size:12px;
	}
}

@media (max-width:575px){
	.table-box tr{
		font-size:10px;
	}
}

.table-box td{
	padding:7px 5px;
}

@media (max-width:376px){
	.table-box td{
		padding:5px 3px;
	}
}